<!-- <div class="container-fluid bg-danger text-white px-4 py-2">
	{% load static %}

	<a href="{% url 'index' %}">
		<div class="logo d-inline"><img src="{% static 'LibMangSys/images/logo.png' %}" alt="" class="src"
				style="height: 40px; border-radius: 50%;"></div>
	</a>
	<h3 class="d-inline px-3 ">Library Management System</h3>
    <a href="{% url 'index' %}" class="btn btn-primary float-right">Logout</a>


</div> -->
<nav class="navbar navbar-expand-lg navbar-danger bg-danger text-light position-sticky sticky-top">
    <div class="container-fluid">
        <a href="{% url 'index' %}">
            <div class="logo d-inline mx-2"><img src="{% static 'LibMangSys/images/logo.png' %}" alt="" class="src"
                    style="height: 40px; border-radius: 50%;"></div>
        </a>

        <h3 class="d-inline px-3 py-2 ">Library Management System</h3>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form action="{% url 'logout' %}" method="POST" class="d-flex" style="position: relative; left:77%;">
                {% csrf_token %}
                <a href="{% url 'administrator' %}" class="btn btn-success mx-3">Administrator</a>
                <button class="btn btn-primary" type="submit">Logout</button>
            </form>
        </div>
    </div>
</nav>