{% extends 'LibMangSys/Library Management/basic.html' %}
{% block title %}viewissuedbook{% endblock  %}
{% block 'adminbutton' %}
 {% include 'LibMangSys/Library Management/adminbutton.html' %}
{% endblock  %} 

{% block body %}

<h1 class="text-center p-5">View Issued Books</h1>
{% if messages %}
{% for msg in messages %}
<script>
    alert("{{msg}}");
</script>
{% endfor %}
{% endif %}
<div class="container-fluid">
    <table class="table table-bordered">
        <tr class="bg-danger text-light text-center">
            <th>S.No</th>
            <th>Student</th>
            <th>Enrollment</th>
            <th>Book</th>
            <th>Author</th>
            <th>Book No</th>
            <th>Issue Date</th>
            <th>Return Date</th>
            <th>Action</th>
        </tr>
        {% if issuecount == 0 %}
        <tr>
            <th colspan="9">No books have issued yet</th>
        </tr>
        {% endif %}
       
        {% for var in issuebook %}
        <tr class="text-center">
            <td>{{ forloop.counter }}</td>
            <td>{{ var.studid.fname }} {{ var.studid.lname }}</td>
            <td>{{ var.enrollmentno }}</td>
            <td>{{ var.bookid.bookname }}</td>
            <td>{{ var.bookid.authorname }}</td>
            <td>{{ var.bookno }}</td>   
            <td>{{ var.issuedate|date:'D d N Y' }}</td>  
            <td>{{ var.returndate|date:'D d N Y' }}</td>  
            <td>
                <form action="{% url 'return-book' %}" method="get" class="d-inline">
                    <input type="hidden" name="id" value="{{var.id}}">
                    <input type="hidden" name="bookno" value="{{var.bookno}}">
                    <button type="submit" class="btn btn-success m-2">Return</button>
                </form>
                <form action="{% url 'fine' %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{var.id}}">
                    <input type="hidden" name="bookno" value="{{var.bookno}}">
                    <button type="submit" data-bs-toggle="modal" data-bs-target="#fine-modal" class="btn btn-danger m-2">Fine</button>
                </form>
            
            </td>
        </tr>
        {% include 'LibMangSys\Library Management\finemodal.html' %}
        {% endfor %}
    </table>
</div>


{% endblock %}